header h1 {
    color: rgb(145, 136, 136);
    justify-self: center;
    padding: 3%;
    border-radius: 5%;
}

nav {
    justify-self: center;
    position: sticky;
    top: 0;
    background-color: rgb(71, 70, 70);
    width: 100%;
    text-align: center;
    padding: 1%;

}

nav a {
    align-self: center;
    text-decoration: none;
    color: rgb(202, 202, 202);
    padding: 30px;
    text-align: center;
}

ul {
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0%;
    color: white;
}

body {
    background-color: rgb(236, 228, 228);
}

main {
    background-color: white;
    color: rgb(71, 70, 70);
    justify-self: center;
    padding: 2%;
    width: 50%;
}

footer {
    color: rgb(19, 19, 19);
    justify-self: center;

}

.heade2 h1 {
    text-align: center;
    background-color: rgb(71, 70, 70);
    width: 60%;
    color: rgb(250, 244, 244);
    border-radius: 10px;
}

.nav2 {
    justify-self: center;
    color:white;
    background-color: rgb(71, 70, 70);
    width: 64%;
    align-content: center;
    border-radius: 10px;
    padding: 1%;
}

.main2 {
width: 64%;
border-radius: 10px;
padding: 1%;
}

.main2 img{
    border-radius: 10px;
}

.footer2 {
    justify-self: center;
    background-color: rgb(71, 70, 70);
    color: white;
    border-radius: 10px;
    width: 64%;
    padding: 1%;
    text-align: center;
}

.nav2 a{
    color: rgb(206, 201, 201);
}

.main3{
    margin-top: 17%;
    width: 10%;
}

.botao {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 31%;
}
